<header class="topbar">
  <div class="container topbar-content">
    <div class="topbar-left">
      <i class="fas fa-home"></i>
      <i class="fas fa-map-marker-alt"></i>
      <span>Plac Skargi 3, 37-500 Jarosław</span>
    </div>
    <div class="topbar-right">
      <span
        >e-mail: <a href="mailto:poscig.pdk@zhr.pl">poscig.pdk@zhr.pl</a></span
      >
      <a href="mailto:poscig.pdk@zhr.pl"><i class="fas fa-envelope"></i></a>
      <a href="https://www.facebook.com/1JDHPoscig"
        ><i class="fab fa-facebook-square"></i
      ></a>
    </div>
  </div>
</header>

<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <img src="../../public/img/logo.png" alt="Logo" />
      <div class="logo">1 JDH „Pościg”</div>
    </div>
    <ul class="nav-links">
      <li><a href="index.html">Strona główna</a></li>
      <li class="dropdown">
        <a href="#o-nas">O nas</a>
        <ul class="dropdown-menu">
          <li><a href="historia.html">Historia Pościgu</a></li>
          <li><a href="obrzedowosc.html">Obrzędowość</a></li>
          <li><a href="funkcyjni.html">Funkcyjni</a></li>
          <li><a href="zastepy.html">Zastępy</a></li>
          <li><a href="wyjazdy.html">Wyjazdy</a></li>
        </ul>
      </li>
      <li><a href="../strony/galeria.html">Galeria</a></li>
      <li class="dropdown">
        <a href="#rodzice">Rodzice</a>
        <ul class="dropdown-menu">
          <li><a href="skladki.html">Składki</a></li>
          <li><a href="ekwipunek.html">Ekwipunek</a></li>
        </ul>
      </li>
      <li><a href="../strony/kontakt.html">Kontakt</a></li>
    </ul>
  </div>
</nav>
